/* *{
    margin: 0;
    padding: 0;
} */
@media only screen and (max-width: 1500px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 3vh;
  }
  .footer-legal {
    margin-bottom: 3vh;
  }
  .footer-link {
    align-items: center;
    margin-right: 10vw;
  }
  .footer-first {
    align-items: center;
    margin-right: 10vw;
  }
  .home {
    height: auto;
  }
  .home-heading {
    font-size: 65px;
    padding-top: 20px;
  }
  .home-text {
    font-size: 20px;
    color: white;
    background-color: rgb(128, 194, 128);
    height: auto;
    width: 50vw;
    opacity: 0.9;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    padding: 10px;
    font-weight: 400;
  }
  .home-btn {
    font-size: 20px;
    padding: 0.5rem;
  }
  .about-1 {
    padding-left: 20vw;
    padding-bottom: 10vh;
    padding-right: 5vw;
    height: auto;
    width: 100%;
  }
  .about-2 {
    padding-left: 20vw;
    padding-bottom: 10vh;
    padding-right: 5vw;
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .about-2img {
    height: 54vh;
    width: 57vw;
    margin-top: 10px;
  }
  .about-3 {
    padding-left: 20vw;
    padding-bottom: 10vh;
    padding-right: 5vw;
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .about-3img {
    height: 54vh;
    width: 57vw;
    margin-top: 10px;
  }
  .exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
    padding-top: 20px;
  }
  .exchange-text{
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .exchange-last{
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .coins-text{
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .detail{
    width: 100%;
  }
  .detail-dis{
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  .detail-page{
    display: flex;
    flex-wrap: wrap;
  }
  .detail-head{
    padding-top: 40px;
  }
  .detail-img{
    margin-top: 40px;
  }
  .detail-text{
    height: auto;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }
  /* .navbar{
    background-color: ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

}
/* @media only screen and (max-width: 350px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }

} */
